<form id="addItemInfo" method="post" action="">
    <label>SKU                 <input id="sku"         type="text" name="sku"
                                      placeholder="xx-xxxxx-xx" pattern="[0-9]{2}[-][0-9]{5}[-][0-9]{2}" required/></label>
    <label>Description         <input id="description" type="text" name="description"
                                      placeholder="Enter a maximum of 50 characters" pattern=".{1,50}"   required/></label>
    <label>Number on order     <input id="on_order"    type="number" min="0" max="9999"   step="1"   name="on_order"
                                      placeholder="xxxx"                                                 required/></label>
    <label>Number in stock     <input id="in_stock"    type="number" min="0" max="9999"   step="1"   name="in_stock"
                                      placeholder="xxxx"                                                 required/></label>
    <label>Unit purchase cost  <input id="cost"        type="number" min="0" max="999.99" step=".01" name="cost"
                                      placeholder="xxx.xx"                                               required/></label>
    <label>Unit sales price    <input id="price"       type="number" min="0" max="999.99" step=".01" name="price"
                                      placeholder="xxx.xx"                                               required/></label>

    <input type = "submit" id="button02" value="Add"  />
    <input type = "button" id="button03" value="Cancel"    />
    <input type = "reset"  id="button04" value="Clear"/>
</form>