<form id="deleteItemInfo" method="post" action="">
                               <input id="id"          type="text" hidden  />
    <label>SKU                 <input id="sku"         type="text" readonly/></label>
    <label>Description         <input id="description" type="text" readonly/></label>
    <label>Number on order     <input id="on_order"    type="text" readonly/></label>
    <label>Number in stock     <input id="in_stock"    type="text" readonly/></label>
    <label>Unit purchase cost  <input id="cost"        type="text" readonly/></label>
    <label>Unit sales price    <input id="price"       type="text" readonly/></label>

    <input type = "submit" id="button02" value="Delete"  />
    <input type = "button" id="button03" value="Cancel"    />
</form>